<nav>
  <h1>NavHead</h1>
  <div class="bar">  </div>
  <a class="nav-elem" href="/">
  <img src="icons/home.png" alt="home">
  <p>Home</p>
  </a>
  <div class="bar">  </div>
  <a class="nav-elem" href="/">
  <img src="icons/home.png" alt="home">
  <p>Home</p>
  </a>
  <div class="bar">  </div>
  <a class="nav-elem" href="/">
  <img src="icons/home.png" alt="home">
  <p>Home</p>
  </a>
</nav>
